<!-- Footer -->
<footer id="footer">
	<ul class="icons">

		{% if site.email %}
		<li>
			<a href="mailto:{{ site.email}}"
			  class="icon fa-envelope-o">
				<span class="label">Email</span>
			</a>
		</li>
		{% endif %}
		
		<li>
			<a href="https://www.flickr.com/photos/135835044@N04/"
		   	   class="icon fa-flickr">
				<span class="label">Flickr</span>
			</a>
		</li>

	</ul>
	<ul class="copyright">
		<li>Imagery and Website &copy; 2015 Tom Page</li><br>
		Site by <a href="{{site.site_designer_website}}">{{site.site_designer}}</a></li>
	</ul>
</footer>
