<h3>About You</h3>

<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='/thank-you/';}"></iframe>

<form action="https://docs.google.com/forms/d/1KNpexItErzNlschfcAi3uLlzN_jyPZOdgpqznfAdLUw/formResponse" id="ss-form" method="post" target="hidden_iframe" onsubmit="submitted=true;">

	<div class="row uniform">
		<!-- Lead Client's Details  -->
		<!-- Name -->
		<div class="9u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.2062118398" 
		                value="" 
		                class="required" 
		                	id="entry_2062118398" 
		                dir="auto" 
		                placeholder="Your Name" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Age -->
        <div class="3u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.1156573474" 
		                value="" 
		                class="required" 
		                	id="entry_1156573474" 
		                dir="auto" 
		                placeholder="Age" 
		                title="">
		            </div>
		        </div>
		    </div>
    	</div>

		<!-- Email -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.1136583696" 
		                value="" 
		                class="required email"
		                	title="We require a contact email to complete the booking" 
		                	id="entry_1136583696" 
		                dir="auto" 
		                placeholder="Contact Email" 
		                title="">
		            </div>
		        </div>
		    </div>
        </div>

        <!-- Phone Number -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.436098004" 
		                value="" 
		                	id="entry_436098004" 
		                dir="auto" 
		                placeholder="Contact Phone Number" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Party Size -->
		<div class="12u$">
			<h3>Other Participants</h3>
		</div>

		<div class="4u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
			    <div dir="auto" class="ss-item  ss-select">
			        <div class="ss-form-entry select-wrapper">
			            <select name="entry.87174897" id="entry_87174897" aria-label="  " class="required">
			                <option value="">- Party Size -</option>
			                <option value="1_people">1 - Just Me!</option>
			                <option value="2_people">2</option>
			                <option value="3_people">3</option>
			                <option value="4_people">4</option>
			                <option value="5_people">5</option>
			                <option value="6_people">6</option>
			                <option value="6_people_plus">More than 6</option>
			            </select>
			        </div>
			    </div>
			</div>
		</div>

		<div class="12u$ hidden_div 2_people 3_people 4_people 5_people 6_people">
			<p>Please provide participant details and contact information - We will send them the pariticpation confirmation and a medical declaration form. This will need to be returned to complete the booking</p>
		</div>
	</div>

	<div class="row uniform hidden_div 2_people 3_people 4_people 5_people 6_people">
		<div class="12u$">
			<h5>Participant 2</h5>
		</div>

		<!-- Name -->
		<div class="9u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.1483329081" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry_1483329081" 
		                dir="auto" 
		                placeholder="Name" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Age -->
        <div class="3u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.2007816420" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry_2007816420" 
		                dir="auto" 
		                placeholder="Age" 
		                title="">
		            </div>
		        </div>
		    </div>
    	</div>

		<!-- Email -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.122680386" 
		                value="" 
		                class="email" 
		                	id="entry_122680386" 
		                dir="auto" 
		                placeholder="Contact Email" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Phone Number -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.207793927"
		                value="" 
		                class="ss-q-short" 
		                	id="entry_207793927"
		                dir="auto" 
		                placeholder="Contact Phone Number" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>
	</div>

	<div class="row uniform hidden_div 3_people 4_people 5_people 6_people">
		<div class="12u$">
			<h5>Participant 3</h5>
		</div>

		<!-- Name -->
		<div class="9u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.1959011707" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry_1959011707" 
		                dir="auto" 
		                placeholder="Name" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Age -->
        <div class="3u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.388186014" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry_388186014" 
		                dir="auto" 
		                placeholder="Age" 
		                title="">
		            </div>
		        </div>
		    </div>
    	</div>

		<!-- Email -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.440319454" 
		                value="" 
		                class="email" 
		                	id="entry_440319454" 
		                dir="auto" 
		                placeholder="Contact Email" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Phone Number -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.366454456"
		                value="" 
		                class="ss-q-short" 
		                	id="entry_366454456"
		                dir="auto" 
		                placeholder="Contact Phone Number" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>
	</div>

	<div class="row uniform hidden_div 4_people 5_people 6_people">
		<div class="12u$">
			<h5>Participant 4</h5>
		</div>

		<!-- Name -->
		<div class="9u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.1241688347" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry_1241688347" 
		                dir="auto" 
		                placeholder="Name" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Age -->
        <div class="3u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.786099256" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry_786099256" 
		                dir="auto" 
		                placeholder="Age" 
		                title="">
		            </div>
		        </div>
		    </div>
    	</div>

		<!-- Email -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.2035390073" 
		                value="" 
		                class="email" 
		                	id="entry_20353 90073" 
		                dir="auto" 
		                placeholder="Contact Email" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Phone Number -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.1310694992"
		                value="" 
		                class="ss-q-short" 
		                	id="entry_1310694992"
		                dir="auto" 
		                placeholder="Contact Phone Number" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>
	</div>

	<div class="row uniform hidden_div 5_people 6_people">
		<div class="12u$">
			<h5>Participant 5</h5>
		</div>

		<!-- Name -->
		<div class="9u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.45277547" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry_45277547" 
		                dir="auto" 
		                placeholder="Name" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Age -->
        <div class="3u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.1113221099" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry_1113221099" 
		                dir="auto" 
		                placeholder="Age" 
		                title="">
		            </div>
		        </div>
		    </div>
    	</div>

		<!-- Email -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.231911241" 
		                value="" 
		                class="email" 
		                	id="entry_231911241" 
		                dir="auto" 
		                placeholder="Contact Email" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Phone Number -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.2107153458"
		                value="" 
		                class="ss-q-short" 
		                	id="entry_2107153458"
		                dir="auto" 
		                placeholder="Contact Phone Number" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>
	</div>

		<div class="row uniform hidden_div 6_people">
		<div class="12u$">
			<h5>Participant 6</h5>
		</div>

		<!-- Name -->
		<div class="9u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.1444543285" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry_1444543285" 
		                dir="auto" 
		                placeholder="Name" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Age -->
        <div class="3u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.719279940" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry_719279940" 
		                dir="auto" 
		                placeholder="Age" 
		                title="">
		            </div>
		        </div>
		    </div>
    	</div>

		<!-- Email -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.812699609" 
		                value="" 
		                class="email" 
		                	id="entry_812699609" 
		                dir="auto" 
		                placeholder="Contact Email" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Phone Number -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.369131779"
		                value="" 
		                class="ss-q-short" 
		                	id="entry_369131779"
		                dir="auto" 
		                placeholder="Contact Phone Number" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>
	</div>

	<div class="row uniform hidden_div 6_people_plus">
		<div class="12u$">
			<p class="notice">For insurance reasons Kestrel can only take groups of less than 6</p>
		</div>
	</div>

	<div class="row uniform">
		<!-- Party Size -->
		<div class="12u$">
			<h3>About your Party</h3>
		</div>

		<h5>Experience</h5>
		<div class="12u$">
			<div class="ss-form-question errorbox-good" role="listitem">
			    <div dir="auto" class="ss-item  ss-paragraph-text">
			        <div class="ss-form-entry">
			            <textarea name="entry.1163290431" rows="8" cols="0" class="ss-q-long valid" id="entry_1163290431" dir="auto" placeholder="Please provide details of the party’s general fitness and hill-walking/mountaineering experience (if any)"></textarea>
			        </div>
			    </div>
			</div>
		</div>

		<div class="12u$">
			<h3>Activities</h3>
		</div>

		<div class="6u 12u$(small)">
		    <div dir="auto" class="ss-item  ss-checkbox">
		        <div class="ss-form-entry">
		            <label class="ss-q-item-label" for="entry_908164841">
		                <div class="ss-q-title">Activity(ies) you are interested in booking:</div>
		                <div class="ss-q-help ss-secondary-text" dir="auto"></div>
		            </label>
		            <div class="ss-choices" role="group" aria-label="Activity(ies) you are interested in booking:  ">
		                <div class="ss-choice-item">
		                    <div class="ss-choice-item-control goog-inline-block">
		                        <input type="checkbox" id="group_1312321939_1" name="entry.1312321939" value="Introduction To Hillwalking">
		                        <label for="group_1312321939_1">Introduction To Hillwalking</label>
		                    </div>
		                </div>
		                <div class="ss-choice-item">
		                    <div class="ss-choice-item-control goog-inline-block">
		                        <input type="checkbox" id="group_1312321939_2" name="entry.1312321939" value="Learn to Navigate">
		                        <label for="group_1312321939_2">Learn to Navigate</label>
		                    </div>
		                </div>
		                <div class="ss-choice-item">
		                    <div class="ss-choice-item-control goog-inline-block">
		                        <input type="checkbox" id="group_1312321939_3" name="entry.1312321939" value="Mountain Adventure Days">
		                        <label for="group_1312321939_3">Mountain Adventure Days</label>
		                    </div>
		                </div>
		                <div class="ss-choice-item">
		                    <div class="ss-choice-item-control goog-inline-block">
		                        <input type="checkbox" id="group_1312321939_4" name="entry.1312321939" value="Charity Event Training">
		                        <label for="group_1312321939_4">Charity Event Training</label>
		                    </div>
		                </div>
		                <div class="ss-choice-item">
		                    <div class="ss-choice-item-control goog-inline-block">
		                        <input type="checkbox" id="group_1312321939_5" name="entry.1312321939" value="Wild Camp">
		                        <label for="group_1312321939_5">Wild Camp</label>
		                    </div>
		                </div>
		                <div class="ss-choice-item">
		                    <div class="ss-choice-item-control goog-inline-block">
		                        <input type="checkbox" id="group_1312321939_6" name="entry.1312321939" value="Other">
		                        <label for="group_1312321939_6">Other Describe Below</label>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text"
		                data-options='{"mode": "datebox", "overrideDateFormat": "%m/%d/%Y"}'
		                	name="entry.295868055" 
		                value=""
		                class="required date" 
		                	id="entry_295868055" 
		                dir="auto" 
		                placeholder="Date of Booking" 
		                title="">
		            </div>
		        </div>
		    </div>
        </div>

		<div class="12u$">
			<h5>Aspirations</h5>
			<div class="ss-form-question errorbox-good" role="listitem">
			    <div dir="auto" class="ss-item  ss-paragraph-text">
			        <div class="ss-form-entry">
			            <textarea name="entry.526378458" rows="8" cols="0" class="ss-q-long valid" id="entry_526378458" dir="auto" placeholder="Please provide details of any particular things you want to get out of the proposed activity"></textarea>
			        </div>
			    </div>
			</div>
		</div>

		<p>Before submitting your booking please give our <a href="/booking-conditions/" >Booking Conditions</a> a close read</p>

		<div class="12u$">
			<div dir="auto" class="ss-item  ss-checkbox">
			    <div class="ss-form-entry">
			        <label class="ss-q-item-label">
			            <div class="ss-q-title">Consent</div>
			            <div class="ss-q-help ss-secondary-text" dir="auto"></div>
			        </label>
			        <div class="ss-choices" role="group" aria-label="Activity(ies) you are interested in booking:  ">
			            <div>
			            	<input type="checkbox" id="group_793508533_1" name="entry.793508533" value="Booking Terms and Conditions Accepted">
							<label for="group_793508533_1">I have read and agree to abide by the <a href="/booking-conditions">Booking Conditions</a>.</label>
						</div>
						
						<div>
			            	<input type="checkbox" id="group_793508533_2" name="entry.793508533" value="BMC Participiation Terms Accepted">
							<label for="group_793508533_2">I have read the <a href="/booking-conditions">BMC Participation Statement</a> and acknowledge that I am responsible for my own actions and involvement, as well as the involvement of any children under my care.</label>
						</div>
						
						<div>
			            	<input type="checkbox" id="group_793508533_3" name="entry.793508533" value="Medical Terms Accepted">
							<label for="group_793508533_3">I consent to inform Kestrel Outdoors of any relevant medical conditions and understand that all members of my party will be asked the same before my booking is fully confirmed.</label>
						</div>
			        </div>
			    </div>
			</div>
		</div>

        <!-- Hidden Stuff -->
        <input type="hidden" name="draftResponse" value="[,,&quot;5704753712361462060&quot;]">
        <input type="hidden" name="pageHistory" value="0">
        <input type="hidden" name="fvv" value="0">
        <input type="hidden" name="fbzx" value="5704753712361462060">
        
        <div class="12u$">
        	<ul class="actions">
        		<li>
        			<!-- Submit Button -->
        			<input type="submit" name="submit" value="Submit" id="ss-submit" class="special jfk-button jfk-button-action ">
        		</li>
        	</ul>
        </div>
    </div>
</form>
