<h3>About You</h3>
<form action="https://docs.google.com/forms/d/1KNpexItErzNlschfcAi3uLlzN_jyPZOdgpqznfAdLUw/formResponse" method="POST" id="ss-form" target="_self" onsubmit="">
	<div class="row uniform">
		<!-- Lead Client's Details  -->
		<!-- Name -->
		<div class="9u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.2062118398" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.2062118398" 
		                dir="auto" 
		                placeholder="Your Name" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Age -->
        <div class="3u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.1156573474" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.1156573474" 
		                dir="auto" 
		                placeholder="Age" 
		                title="">
		            </div>
		        </div>
		    </div>
    	</div>

		<!-- Email -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.1136583696" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.1136583696" 
		                dir="auto" 
		                placeholder="Contact Email" 
		                title="">
		            </div>
		        </div>
		    </div>
        </div>

        <!-- Phone Number -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.436098004" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.436098004" 
		                dir="auto" 
		                placeholder="Contact Phone Number" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Party Size -->
		<div class="12u$">
			<h3>Activities</h3>
		</div>

		<div class="6u 12u$(small)">
			<div dir="auto" class="ss-item  ss-checkbox">
			    <div class="ss-form-entry">
			        <label class="ss-q-item-label" for="entry_908164841">
			            <div class="ss-q-title">Activity(ies) you are interested in booking:
			            </div>
			            <div class="ss-q-help ss-secondary-text" dir="auto"></div>
			        </label>
			        <ul class="ss-choices" role="group" aria-label="Activity(ies) you are interested in booking:  ">
			            <div class="ss-choice-item">
			            	<input type="checkbox" id="group_1312321939_1" name="entry.1312321939">
							<label for="group_1312321939_1">Introduction To Hillwalking</label>
						</div>
						
						<div class="ss-choice-item">
			            	<input type="checkbox" id="group_1312321939_2" name="entry.1312321939">
							<label for="group_1312321939_2">Learn to Navigate</label>
						</div>
						
						<div class="ss-choice-item">
			            	<input type="checkbox" id="group_1312321939_3" name="entry.1312321939">
							<label for="group_1312321939_3">Mountain Adventure Days</label>
						</div>
						
						<div class="ss-choice-item">
			            	<input type="checkbox" id="group_1312321939_4" name="entry.1312321939">
							<label for="group_1312321939_4">Charity Event Training</label>
						</div>

			            <div class="ss-choice-item">
			            	<input type="checkbox" id="group_1312321939_5" name="entry.1312321939">
							<label for="group_1312321939_5">Wild Camp</label>
						</div>

			            <div class="ss-choice-item">
							<input type="checkbox" id="group_1312321939_6" name="entry.1312321939">
							<label for="group_1312321939_6">Other Describe Below</label>
			            </div>
			        </ul>
			    </div>
			</div>
		</div>

		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.1037904431" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.1037904431" 
		                dir="auto" 
		                placeholder="Date of Booking" 
		                title="">
		            </div>
		        </div>
		    </div>
        </div>

		<!-- Party Size -->
		<div class="12u$">
			<h3>Other Participants</h3>
		</div>

		<div class="4u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
			    <div dir="auto" class="ss-item  ss-select">
			        <div class="ss-form-entry select-wrapper">
			            <select name="entry.87174897" id="entry_87174897" aria-label="  " class="valid">
			                <option value="">- Party Size -</option>
			                <option value="1_p">1 - Just Me!</option>
			                <option value="2_p">2</option>
			                <option value="3_p">3</option>
			                <option value="4_p">4</option>
			                <option value="5_p">5</option>
			                <option value="6_p">6</option>
			                <option value="6_plus">More than 6</option>
			            </select>
			        </div>
			    </div>
			</div>
		</div>

		<div class="12u$ hidden_div 2_p 3_p 4_p 5_p 6_p">
			<p>Please provide participate details and contact information - We will send them the pariticpation confirmation and a medical declaration form. This will need to be returned to complete the booking</p>
		</div>
	</div>

	<div class="row uniform hidden_div 2_p 3_p 4_p 5_p 6_p">
		<div class="12u$">
			<h5>Participant 2</h5>
		</div>

		<!-- Name -->
		<div class="9u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{2_p_name_name}" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{2_p_name_id}" 
		                dir="auto" 
		                placeholder="Your Name" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Age -->
        <div class="3u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{2_p_age_name}" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{2_p_age_id}" 
		                dir="auto" 
		                placeholder="Age" 
		                title="">
		            </div>
		        </div>
		    </div>
    	</div>

		<!-- Email -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{2_p_email_name}" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{2_p_email_id}" 
		                dir="auto" 
		                placeholder="Contact Email" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Phone Number -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{2_p_phone_name}"
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{2_p_phone_id}"
		                dir="auto" 
		                placeholder="Contact Phone Number" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>
	</div>

	<div class="row uniform hidden_div 3_p 4_p 5_p 6_p">
		<div class="12u$">
			<h5>Participant 3</h5>
		</div>

		<!-- Name -->
		<div class="9u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{3_p_name_name}" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{3_p_name_id}" 
		                dir="auto" 
		                placeholder="Your Name" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Age -->
        <div class="3u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{3_p_age_name}" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{3_p_age_id}" 
		                dir="auto" 
		                placeholder="Age" 
		                title="">
		            </div>
		        </div>
		    </div>
    	</div>

		<!-- Email -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{3_p_email_name}" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{3_p_email_id}" 
		                dir="auto" 
		                placeholder="Contact Email" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Phone Number -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{3_p_phone_name}"
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{3_p_phone_id}"
		                dir="auto" 
		                placeholder="Contact Phone Number" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>
	</div>

	<div class="row uniform hidden_div 4_p 5_p 6_p">
		<div class="12u$">
			<h5>Participant 4</h5>
		</div>

		<!-- Name -->
		<div class="9u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{4_p_name_name}" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{4_p_name_id}" 
		                dir="auto" 
		                placeholder="Your Name" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Age -->
        <div class="3u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{4_p_age_name}" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{4_p_age_id}" 
		                dir="auto" 
		                placeholder="Age" 
		                title="">
		            </div>
		        </div>
		    </div>
    	</div>

		<!-- Email -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{4_p_email_name}" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{4_p_email_id}" 
		                dir="auto" 
		                placeholder="Contact Email" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Phone Number -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{4_p_phone_name}"
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{4_p_phone_id}"
		                dir="auto" 
		                placeholder="Contact Phone Number" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>
	</div>

	<div class="row uniform hidden_div 5_p 6_p">
		<div class="12u$">
			<h5>Participant 5</h5>
		</div>

		<!-- Name -->
		<div class="9u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{5_p_name_name}" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{5_p_name_id}" 
		                dir="auto" 
		                placeholder="Your Name" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Age -->
        <div class="3u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{5_p_age_name}" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{5_p_age_id}" 
		                dir="auto" 
		                placeholder="Age" 
		                title="">
		            </div>
		        </div>
		    </div>
    	</div>

		<!-- Email -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{5_p_email_name}" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{5_p_email_id}" 
		                dir="auto" 
		                placeholder="Contact Email" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Phone Number -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{5_p_phone_name}"
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{5_p_phone_id}"
		                dir="auto" 
		                placeholder="Contact Phone Number" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>
	</div>

		<div class="row uniform hidden_div 6_p">
		<div class="12u$">
			<h5>Participant 6</h5>
		</div>

		<!-- Name -->
		<div class="9u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{6_p_name_name}" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{6_p_name_id}" 
		                dir="auto" 
		                placeholder="Your Name" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Age -->
        <div class="3u 12u$(small)">
		    <div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{6_p_age_name}" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{6_p_age_id}" 
		                dir="auto" 
		                placeholder="Age" 
		                title="">
		            </div>
		        </div>
		    </div>
    	</div>

		<!-- Email -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{6_p_email_name}" 
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{6_p_email_id}" 
		                dir="auto" 
		                placeholder="Contact Email" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>

		<!-- Phone Number -->
		<div class="6u 12u$(small)">
			<div class="ss-form-question errorbox-good" role="listitem">
		        <div dir="auto" class="ss-item ss-text">
		            <div class="ss-form-entry">
		                <input type="text" 
		                	name="entry.{6_p_phone_name}"
		                value="" 
		                class="ss-q-short" 
		                	id="entry.{6_p_phone_id}"
		                dir="auto" 
		                placeholder="Contact Phone Number" 
		                title="">
		            </div>
		        </div>
		    </div>
		</div>
	</div>

	<div class="row uniform hidden_div 6_plus">
		<div class="12u$">
			<p class="notice">For insurance reasons Kestrel can only take groups of less than 6</p>
		</div>
	</div>

	<div class="row uniform">
		<!-- Party Size -->
		<div class="12u$">
			<h3>About your Party</h3>
		</div>

		<h5>Experience</h5>
		<div class="12u$">
			<div class="ss-form-question errorbox-good" role="listitem">
			    <div dir="auto" class="ss-item  ss-paragraph-text">
			        <div class="ss-form-entry">
			            <textarea name="entry.526378458" rows="8" cols="0" class="ss-q-long valid" id="entry_526378458" dir="auto" placeholder="Please provide details of the party’s general fitness and hill-walking/mountaineering experience (if any)"></textarea>
			        </div>
			    </div>
			</div>
		</div>

		<h5>Aspirations</h5>
		<div class="12u$">
			<div class="ss-form-question errorbox-good" role="listitem">
			    <div dir="auto" class="ss-item  ss-paragraph-text">
			        <div class="ss-form-entry">
			            <textarea name="entry.1163290431" rows="8" cols="0" class="ss-q-long valid" id="entry_1163290431" dir="auto" placeholder="Please provide details of any particular things you want to get out of the proposed activity"></textarea>
			        </div>
			    </div>
			</div>
		</div>

		<div class="12u$">
			<div dir="auto" class="ss-item  ss-checkbox">
			    <div class="ss-form-entry">
			        <label class="ss-q-item-label" for="entry_{}">
			            <div class="ss-q-title">Consent</div>
			            <div class="ss-q-help ss-secondary-text" dir="auto"></div>
			        </label>
			        <ul class="ss-choices" role="group" aria-label="Activity(ies) you are interested in booking:  ">
			            <div class="ss-choice-item">
			            	<input type="checkbox" id="group_{}_1" name="entry.{}">
							<label for="group_{}_1">I have read and agree to abide by the Booking Conditions.</label>
						</div>
						
						<div class="ss-choice-item">
			            	<input type="checkbox" id="group_{}_2" name="entry.{}">
							<label for="group_{}_2">I have read the BMC Participation Statement and acknowledge that I am responsible for my own actions and involvement, as well as the involvement of any children under my care.</label>
						</div>
						
						<div class="ss-choice-item">
			            	<input type="checkbox" id="group_{}_3" name="entry.{}">
							<label for="group_{}_3">I have informed Kestrel Adventure Sports of any relevant medical condition (via the Medical Declaration Form)</label>
						</div>
			        </ul>
			    </div>
			</div>
		</div>

        <!-- Hidden Stuff -->
        <input type="hidden" name="draftResponse" value="[,,&quot;-964340124089954609&quot;]">
        <input type="hidden" name="pageHistory" value="0">
        <input type="hidden" name="fvv" value="0">
        <input type="hidden" name="fbzx" value="-964340124089954609">
        
        <div class="12u$">
        	<ul class="actions">
        		<li>
        			<!-- Submit Button -->
        			<input type="submit" name="submit" value="Submit" id="ss-submit" class="special jfk-button jfk-button-action ">
        		</li>
        	</ul>
        </div>
    </div>
</form>
