{% include banner.html %}
<!-- One -->
	<section id="one" class="wrapper style1 special">
		<div class="inner">
			<header class="major">
				<h2>
					Mountain walking with a qualified mountain leader </br>
					in the Lake District & Snowdonia National Parks
				</h2>
				<p>Whether you are looking for a gentle introduction to hillwalking or a hike in more challenging terrain,
				Kestrel would love to share the enjoyment of a mountain adventure with you.</p>
			</header>
		</div>
	</section>

<!-- Two -->
	<section id="two" class="wrapper alt style2">
		<section class="spotlight">
			<div class="image"><img src="../images/pic01.jpg" alt="" /></div><div class="content">
				<h2>Guides to outstanding <br />
				natural beauty</h2>
				<p>Let us show you dramatic mountain scenery: breath taking ridges, imposing crags, sweeping valleys and glistening lakes </p>
			</div>
		</section>
		<section class="spotlight">
			<div class="image"><img src="../images/pic02.jpg" alt="" /></div><div class="content">
				<h2>Training with a relaxed <br />
				and friendly instructor</h2>
				<p>New to hillwalking or keen to gain greater confidence in the mountains? Our qualified Mountain Leader’s knowledge and approachable style can help you gain the skills to unlock future enjoyment of the hills. </p>
			</div>
		</section>
		<section class="spotlight">
			<div class="image"><img src="../images/pic03.jpg" alt="" /></div><div class="content">
				<h2>Experience the thrill of adventure</h2>
				<p>Step outside your comfort zone and get your heart pumping on exposed ridges and exciting scrambles.</p>
			</div>
		</section>
	</section>

<!-- Three -->
	<section id="three" class="wrapper style3 special">
		<div class="inner">
			<header class="major">
				<h2>Simple pricing and easy booking</h2>
				<p>The cost of leader hire per day is £148 per group <br />
				(maximum group size: 6 people) for the below activities unless otherwise stated. <br />
				<br />
				If you’d like to discuss any of these activities, or an activity not listed below, please <a href= "mailto:{{site.email }}">contact us</a>. </p>
			</header>
			<ul class="features">
				<li class= "icon fa-map-signs">
					<h3>Introduction to hillwalking</h3>
					<p>An easy-paced introduction covering basic techniques for novices keen to get into the hills.</p>
				</li>
				<li class= "icon fa-compass">
					<h3>Learn to navigate</h3>
					<p>A day focused on map reading and route finding for anyone who wants to gain greater confidence with their mountain navigation.</p>
				</li>
				<li class= "icon fa-tree">
					<h3>Mountain adventure</h3>
					<p>A day out over more challenging terrain or distances (some prior experience of hillwalking required).</p>
				</li>
				<li class= "icon fa-users">
					<h3>Charity event training</h3>
					<p>Prepare for long distance sponsored walking events with your team.</p>
				</li>
				<li class= "icon fa-moon-o">
					<h3>Wild overnight camp</h3>
					<p>Experience the thrill of a wild overnight camp in a remote mountain setting (£280 per group).</p>
				</li>
				<li class= "icon fa-child">
					<h3>Activities tailored </br>
					to you</h3>
					<p><a href= "mailto:{{site.email }}">Contact us</a> to discuss your adventure objectives. </p>
				</li>
			</ul>
		</div>
	</section>

<!-- CTA -->
	<section id="cta" class="wrapper style4">
		<div class="inner">
			<header>
				<h2>Kestrel</h2>
				<p>Mountain walking in the Lake District and Snowdonia.</p>
			</header>
			<ul class="actions vertical">
				<li><a href="/booking/" class="button fit special">Book Now</a></li>
				<li><a href="/activities/" class="button fit">Our Activites</a></li>
			</ul>
		</div>
	</section>
